table > thead > tr > th {
	text-align: center;
}

.text-center {
	text-align: center;
}

.width-50 {
	width: 50px !important;
}

.width-20 {
	width: 20px !important;
}

.line-ellipsis {
	text-overflow: ellipsis;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.text-ellipsis {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

button.btn.btn-info.btn-sm.btnBalance {
    width: 70px;
}

.modal-xlg {
	width: 1300px;
}

.date > div { display: inherit !important; }